body{
	margin: 0;
	background-color: darkgray;
	overflow: hidden;
/*	text-align: center;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#carCanvas{
	background-color: lightgray;
}
